<clickhouse replace="true">
    <logger>
        <level>error</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
        <console>1</console>
    </logger>
    <display_name>fxttr_cluster node 4</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <allow_plaintext_password>1</allow_plaintext_password>
    <allow_no_password>0</allow_no_password>
    <allow_implicit_no_password>0</allow_implicit_no_password>
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
        <storage_configuration>
        <disks>
            <s3>
                <type>s3</type>
                <endpoint from_env="CLICKHOUSE_MINIO_ENDPOINT"/>
                <access_key_id from_env="MINIO_ACCESS_KEY"/>
                <secret_access_key from_env="MINIO_SECRET_KEY"/>
                <region from_env="MINIO_REGION"/>
                <metadata_path>/var/lib/clickhouse/disks/s3/</metadata_path>
            </s3>
            <s3_cache>
                <type>cache</type>
                <disk>s3</disk>
                <path>/var/lib/clickhouse/disks/s3_cache/</path>
                <max_size>10Gi</max_size>
            </s3_cache>
        </disks>
        <policies>
            <s3_main>
                <volumes>
                    <s3>
                        <disk>s3</disk>
                    </s3>
                </volumes>
            </s3_main>
        </policies>
    </storage_configuration>
    <remote_servers>
        <fxttr_cluster>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-01</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-03</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-02</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-04</host>
                    <port>9000</port>
                </replica>
            </shard>
        </fxttr_cluster>
    </remote_servers>
    <zookeeper>
        <node>
            <host>clickhouse-keeper-01</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-02</host>
            <port>9181</port>
        </node>
        <node>
            <host>clickhouse-keeper-03</host>
            <port>9181</port>
        </node>
    </zookeeper>
    <macros>
        <shard>02</shard>
        <replica>02</replica>
    </macros>
</clickhouse>
