export MINIO_ACCESS_KEY=
export MINIO_SECRET_KEY=
export MINIO_REGION=
export MINIO_ENDPOINT=

export CLICKHOUSE_USERNAME=
export CLICKHOUSE_PASSWORD_SHA256=
export CLICKHOUSE_PASSWORD=
export CLICKHOUSE_DATABASE=
export CLICKHOUSE_MINIO_ENDPOINT=

export DAGSTER_DATABASE_USERNAME=
export DAGSTER_DATABASE_PASSWORD=
export DAGSTER_DATABASE=

export NESSIE_DATABASE_USERNAME=
export NESSIE_DATABASE_PASSWORD=
export NESSIE_DATABASE=

export TRINO_SHARED_SECRET=